body {
    background-color: rgba(239, 174, 240, 0.965);
    color: rgba(20, 7, 7, 0.919);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgba(16, 0, 5, 0.406); border-bottom: = borda inferior.
    padding: 20px; espaçamento interno
    font-size: 32px; tamanho da fonte 
    color: rgb(42, 213, 228);
}

